In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sola,VU,2020-02-19 20:16:41,-13.88,167.55,83.30,69,4,5.14
1,1,Otorohanga,NZ,2020-02-19 20:16:41,-38.18,175.20,64.99,92,8,1.59
2,2,Leningradskiy,RU,2020-02-19 20:16:41,69.38,178.42,-9.89,90,100,21.74
3,3,New Norfolk,AU,2020-02-19 20:16:41,-42.78,147.06,55.40,71,75,9.17
4,4,Lavrentiya,RU,2020-02-19 20:16:41,65.58,-171.00,-9.63,81,100,9.84

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
#Add Earth center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sola,VU,2020-02-19 20:16:41,-13.88,167.55,83.30,69,4,5.14
8,8,Atuona,PF,2020-02-19 20:16:42,-9.80,-139.03,81.50,79,100,18.77
9,9,Grand Gaube,MU,2020-02-19 20:16:42,-20.01,57.66,78.80,78,40,10.29
10,10,Cabo San Lucas,MX,2020-02-19 20:16:42,22.89,-109.91,84.99,53,5,8.05
11,11,Saint-Philippe,RE,2020-02-19 20:16:43,-21.36,55.77,75.20,69,5,8.05
...,...,...,...,...,...,...,...,...,...,...
549,549,Caravelas,BR,2020-02-19 20:18:28,-17.71,-39.25,80.82,77,13,12.30
550,550,Alofi,NU,2020-02-19 20:18:29,-19.06,-169.92,78.80,83,24,6.93
554,554,Maldonado,UY,2020-02-19 20:18:30,-34.67,-54.92,78.80,61,20,11.41
558,558,Richards Bay,ZA,2020-02-19 20:18:30,-28.78,32.04,78.66,84,0,8.97
561,561,Vanimo,PG,2020-02-19 20:18:32,-2.67,141.30,80.87,77,100,17.56

In [11]:
preferred_cities_df=preferred_cities_df.dropna()

In [12]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0              Sola      VU     83.30 -13.88  167.55
8            Atuona      PF     81.50  -9.80 -139.03
9       Grand Gaube      MU     78.80 -20.01   57.66
10   Cabo San Lucas      MX     84.99  22.89 -109.91
11   Saint-Philippe      RE     75.20 -21.36   55.77
..              ...     ...       ...    ...     ...        ...
549       Caravelas      BR     80.82 -17.71  -39.25
550           Alofi      NU     78.80 -19.06 -169.92
554       Maldonado      UY     78.80 -34.67  -54.92
558    Richards Bay      ZA     78.66 -28.78   32.04
561          Vanimo      PG     80.87  -2.67  141.30

[170 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sola,VU,83.30,-13.88,167.55,Leumerus Bungalows
8,Atuona,PF,81.50,-9.80,-139.03,Villa Enata
9,Grand Gaube,MU,78.80,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
10,Cabo San Lucas,MX,84.99,22.89,-109.91,Hotel Tesoro Los Cabos
11,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
15,Riberalta,BO,86.00,-10.98,-66.10,Hotel Colonial
16,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
19,Cayenne,GF,82.40,4.93,-52.33,Hôtel Le Dronmi
24,Jose De Freitas,BR,87.80,-4.76,-42.58,AP CHICO MAJOR
29,Rikitea,PF,78.71,-23.12,-134.97,Pension Maro'i

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))