In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
import matplotlib.pyplot as plt
import gmaps.datasets
gmaps.configure(api_key=g_key)

In [2]:
# Import csv into a DataFrame.
travel_data_df = pd.read_csv("weather_data_challenge/WeatherPy_vacation.csv")
travel_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
0,1,Esperance,AU,78.80,-33.87,121.90,scattered clouds,Hospitality Esperance
1,2,Rikitea,PF,79.86,-23.12,-134.97,few clouds,Pension Maro'i
2,3,Kulhudhuffushi,MV,83.57,6.62,73.07,overcast clouds,Haajy Guest House 1
3,7,Kapaa,US,80.60,22.08,-159.32,few clouds,Sheraton Kauai Resort at Coconut Beach
4,8,Nieuw Amsterdam,SR,78.01,5.88,-55.08,scattered clouds,Hotel Stardust

In [3]:
#Filter the DataFrame for each city you want to go to and create separate DataFrames for each city
#cities =["Port Macquarie", "Nelson Bay", "Flinders", "Ulladulla"]

port_macquarie = travel_data_df.loc[(travel_data_df["City"] == "Port Macquarie")]
nelson_bay = travel_data_df.loc[(travel_data_df["City"] == "Nelson Bay")]
flinders = travel_data_df.loc[(travel_data_df["City"] == "Flinders")]
ulladulla =travel_data_df.loc[(travel_data_df["City"] == "Ulladulla")]

#Create dataframe for requested cities
frames = [port_macquarie, nelson_bay, flinders, ulladulla]
cities = pd.concat(frames)
cities

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
109,447,Port Macquarie,AU,79.0,-31.43,152.92,scattered clouds,Rydges Port Macquarie
49,220,Nelson Bay,AU,77.0,-32.72,152.15,overcast clouds,Mantra Nelson Bay
51,234,Flinders,AU,78.8,-34.58,150.86,broken clouds,Shellharbour Resort & Conference Centre
121,502,Ulladulla,AU,78.8,-35.35,150.47,broken clouds,Sandpiper Motel

In [4]:
#get Lat-Lng pairs
cities_lat = cities["Lat"]
cities_lng = cities["Lng"]
cities_coord = list(zip(cities_lat, cities_lng))
cities_coord

[(-31.43, 152.92), (-32.72, 152.15), (-34.58, 150.86), (-35.35, 150.47)]

In [15]:
#get directions layer map.
fig = gmaps.figure()
way = gmaps.directions_layer(
        cities_coord[0], cities_coord[3], waypoints=[cities_coord[1], cities_coord[2]],
        travel_mode='DRIVING')
fig.add_layer(way)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# create pop-up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} </dd>
</dl>
"""

# Store the DataFrame Row.
hotels_info = [info_box_template.format(**row) for index, row in cities.iterrows()]

In [17]:
#fig = gmaps.figure()
#way = gmaps.directions_layer(
#        cities_coord[0], cities_coord[3], waypoints=[cities_coord[1], cities_coord[2]],
#        travel_mode='DRIVING')
marker_layer = gmaps.marker_layer(cities_coord, info_box_content=hotels_info)
fig = gmaps.figure()
#fig.add_layer(way)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))